/**
iconfontactcul Webfont
*/
@font-face {
    font-family: 'iconfontactcul';
    src: url('iconfontactcul.eot?1591831448069');
    src: url('iconfontactcul.eot?#iefix-1591831448069') format('embedded-opentype'),
    url('iconfontactcul.woff2?1591831448069') format('woff2'),
    url('iconfontactcul.woff?1591831448069') format('woff'),
    url('iconfontactcul.ttf?1591831448069') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .icon-acfa {
    font-family: 'iconfontactcul';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  /*
  Glyphs list
  */
  
       .icon-acfa-desk:before {
          content: '\ea01';
      }
  
       .icon-acfa-event:before {
          content: '\ea02';
      }
  
       .icon-acfa-logo-cultural:before {
          content: '\ea03';
      }
  
       .icon-acfa-logo-fesa:before {
          content: '\ea04';
      }
  
       .icon-acfa-logo-unam:before {
          content: '\ea05';
      }
  
       .icon-acfa-offering:before {
          content: '\ea06';
      }
  
       .icon-acfa-projector:before {
          content: '\ea07';
      }
  
       .icon-acfa-skull:before {
          content: '\ea08';
      }
  
  